*{
  margin:0;
  padding: 0;
}

body{
background: rgb(253,29,29);
background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}

.upper{
  height:10vh;
}

.mainCont{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.numDisplay{
  font-family: arial;
  font-size: 5rem;
  min-height: 5rem;
  minwidth: 533px;
}

.runSum{
  min-height: 3rem;
  font-family: arial;
  font-size: 3rem;
  color: grey;
  max-width: 373px;
}

.numCont{
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items:start;
  background-color: white;
}

.nums{
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.specialButtons{
  display: inline-grid;
  grid-template-columns: auto;
}

.screenCont{
  font-family: arial;
  font-size: 3rem;
  width: 533px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  border-bottom: 1px grey solid;
}

.buttons{
  display: flex;
  font-family: arial;
  background-color:#484646;
  color: white;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  height: 75px;
  font-size: 1.5rem;
  margin: 3px;
}

.buttons:hover{
  background-color:#AEA5A5;
  transition: 0.2s ease-in-out;
}

#button0{
  grid-column: span 2
}

.fbuttons{
  display: flex;
  color: white;
  font-family: arial;
  background-color: #7C7C7C;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  height: 75px;
  font-size: 1.5rem;
  margin: 3px;
}

.fbuttons:hover{
  background-color:#AEA5A5;
  transition: 0.2s ease-in-out;
}

.equals{
  grid-column: span 2
}

#cancelB{
  background-color: #B60000;
}
#cancelB:hover{
  background-color: red;
}
