*{
  margin:0;
  padding: 0;
}

.upper{
  height:20vh;
}

.mainCont{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.numDisplay{
  font-family:arial;
  font-size: 3rem;
}

.nums{
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.screenCont{
  height: 100px;
  width: 373px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  border: 1px solid black;
}

.numDisplay{
  margin-bottom: 1em;
}


.buttons{
  display: flex;
  font-family: arial;
  background-color:#817878;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 75px;
  font-size: 1.5rem;
}

.buttons:hover{
  background-color:#AEA5A5;
  transition: 0.2s ease-in-out;
}

.fbuttons{
  display: flex;
  font-family: arial;
  background-color:#817878;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 75px;
  font-size: 1.5rem;
}


.fbuttons:hover{
  background-color:#AEA5A5;
  transition: 0.2s ease-in-out;
}
